<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title>Planning Pal</title>
   </head>
   <body>
      <script src="{{url_for('static', filename='js/script.js')}}"></script>
      <div class="top">
         <div class="head-container">
            <div class="left">
               <h1>Welcome to Planning Pal</h1>
               <p>This website will help you plan activities!</p>
               <p>Just enter in the corresponding information and a sample plan will be suggested!</p>
            </div>
            <div class="right">
               <img src="{{url_for('static', filename='assets/teddybear.jpeg')}}" alt="teddy bears reading" width="350" height="250">
            </div>
         </div>
      </div>
      <div class="bottom">
         <div class="form-container">
            <label for="x">What are you planning?</label>
            <input type="text" id="x" name="x">
            <label for="y">Who is the plan for?</label>
            <input type="text" id="y" name="y">
            <label for="z">What is the plan about?</label>
            <input type="text" id="z" name="z">
         </div>
         <div class="output-container">
            <div class="suggestion">
               <h2>Sample Suggestion</h2>
               <button id="suggestion_btn" onclick="display_sug()">Hear Plan</button>
            </div>
            <p id="suggestion_result"></p>
         </div>
      </div>
   </body>
</html>